body{
	animation: slide 2s;
}
@-webkit-keyframes slide{
	0%{
		margin-top: 150%;
	}
	60%{
		margin-top: -5%;
	}
	100%{
		margin-top: 0;
	}
}
body {
	background-color: #02010a;
	color: white;
	font-family: 'Josefin Sans';
	width: 98%;
}
.menu{
	font-family: 'Josefin Sans' bold;
	
}
.inicio{
	text-decoration: none;
}
.menu>a{
	color: white;
}
.inicio::after, .paisaje::after, .retrato::after{
	content: "|";
	color: white;
	font-weight: bold;
}
.paisaje:hover, .retrato:hover{
	text-decoration: line-through;
}
#encabezado{
	background-color: #5b7989;
	border-radius: 10px 10px 0px 0px;
	padding: 6px;
}
svg{
	width= 10px;
}
.menu{
	float: right;
	margin: 0px auto;
	transform: translateY(-50px);
}
.contenedor{
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	}
picture[srcset$=jpg]{
	width: 80%;
	box-shadow: 2px 2px #02010a;
	margin: 4px;
}
#ima3, #ima4{
	-webkit-transition: transform 3s;
	transition: transform 3s;
}
#ima3:hover, #ima4:hover{
	-webkit-transform: translate3d(20px,-5px,0px);
	transform: translate3d(20px,-5px,0px);
}
#ima2, #ima5{
	transition: transform 3s;
}
#ima2:hover, #ima5:hover{
	transform: rotateZ(10deg);
}
#pie{
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}
#pie{
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	color: #900C3F !important;
	width: 100%;
	min-height: 180px;
	max-height: 550px;
	border-radius: 0px 0px 10px 10px;
	background-color: #C6d5c5;
	text-align: center
}
h3{
	text-shadow: 2px 2px 2px #02010a;
	color: aliceblue;
}
#ima1{
	background-color: #82c3a6;
	border: 1px solid white;
}
#ima2, #ima3, #ima4, #ima5{
	background-color: #d5c75f;
}
img[src$=png]{
	max-width: 40px;
}
img[src$=png]:hover{
	max-width: 45px;
}
@media (min-width:420px) {
	#ima1, #ima2, #ima3, #ima4, #ima5, #ima6{
		width: 100%;
	}
	.abajo{
		width: 100%;
	}
}
@media (min-width: 600px) {
	#ima1, #ima6{
		width:100%;
	}
	#ima2, #ima3, #ima4, #ima5{
		width: 50%;
	}
	.contenido ~ div {
	box-sizing: border-box;
	box-sizing: -webkit-border-box;
	}
	.contenedor{
		width: 1000px;
		margin-left: auto;
		margin-right: auto;	
	}
	.abajo{
		width: 100%;
	}
}
@media (min-width:900px) {
	#ima1, #ima6{
		width:100%;
	}
	#ima2, #ima3, #ima4, #ima5{
		width: 50%;
	}
	.contenedor{
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	}
	.abajo{
			width: 25%;
		}
	.png{
		width: 50%; 
	}
	}